*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body{
    background: #efefef;
}


nav{
    height: 50px;
    width: 100%;
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo{
    width: 160px;
    margin-right: 45px;
    cursor: pointer;
}
.nav-left{
    flex: 3;
}

.nav-center{
    flex: 5;
}

.nav-right{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.topbarIconItem{
    cursor: pointer;
    position: relative;
}

.upgrade-btn{
    margin-right: 50px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: blue;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#fff,#fff),radial-gradient(circle at top left, blue,blue);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-decoration: none;
}

.upgrade-btn span{
    display: block;
    padding: 8px 22px;
}


.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


.search-box{
    background: #efefef;
    width: 400px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
}








.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}
.left-sidebar{
    flex-basis: 20%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    
}
.right-sidebar{
    flex-basis: 57%;
    
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
   
}

.main-content{
    flex-basis: 20%;
    border-radius: 5%;
    background: #fff;
    padding: 10px;
    margin: 10px;
}

.chatMenuInput{
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    
}

.conversation{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;

}
.conversation:hover{
    background-color: rgb(228, 227, 227);
}
.conversationImg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;

}
.conversationName{
    font-weight: 500;
}

.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.messageTop{
    display: flex;
}
.messageImg{
    margin-top: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    
}

.messageText{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(230, 228, 228);
    color: black;
    max-width: 300px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own{
    align-items: flex-end;
}
.message.own .messageText{
    background-color: rgb(188, 222, 253);
    color: black;
}


.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.chatMessageInput{

    width: 60%;
    padding: 10px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;

}

.chatSubmitButton{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: palevioletred;
    color: white;
}

.chatLinks{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    color: black;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
}

.chatBoxTop{
    height: 425px;
    overflow-y: scroll;
    padding-right: 10px;
    border-bottom: 1px solid grey;
}

.chatBoxUpper{
    border-bottom: 1px solid black;
    display: flex;
}

.upperIcon{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}
.upperName{
    padding: 10px;
}

.upperLastSeen{
    padding: 10px;
}


.imp-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;

}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    
    padding: 40px;
    border-radius: 5%;
    background: #fff;
    
}
.shortcut-links{
    text-align: center;
    margin-top: 20px;
    border-radius: 5%;
    border: 1px solid rgb(12, 12, 12);
    background: #fff;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;

}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.image{
    height: 60px;
    width: 60px;
    
}

.share{
    height: 20px;
    width: 20px;
}
.one{
    background: black;
    justify-content: space-between;
    display: flex;
}

.name{
    color: #fff;
    font-size: larger;
}

.two{

    padding: 20px;
    justify-content: space-between;
    display: flex;

}

.three{
    margin-top: 30px;
}

.three h3{
    color: blue;

}
.heart{
    height: 20px;
    width: 20px;
}
.details1{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.details2{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}